:root {
    --primary-color: #1e3a5f;
    --secondary-color: #f4f4f4;
    --accent-color: #d4a017;
    --text-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height:1.6;
}

main{
    max-width:1200px;
    margin:auto;
    padding:1rem;
}

h1,h2,h3{
    color:var(--primary-color);
}

section{
    margin:1.5rem 0;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    background:var(--primary-color);
    color:var(--secondary-color);
}


header img{
    border-radius: 30px;
    display:flex;
    align-items:center;
    gap:12px;
    width:55px;
    height:55px;
}

 header span{
    font-size:1.5rem;
    color: var(--secondary-color);
}

.navigation{
  display: none;
  margin-left: auto;
  
}

.navigation.show {
    display: block;
  }
  .navigation ul{
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  .navigation a{
    
    display: block;
    padding: .3rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
  }

  .navigation li.current{
    background: var(--accent-color);
  }
  .navigation a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  h1{
    margin-left: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
  }
.hamburger{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
}

#members.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#members.list section {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    gap: 1.5rem; 
    text-align: center;
    background: var(--secondary-color);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    transition: transform .3s ease, box-shadow .3s ease;
}

#members.list img {
  
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
}


#members.list h2 {
    color: var(--primary-color);
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

#members.list p {
    margin: .35rem 0;
    color: var(--text-color);
    font-size: .95rem;
    position: relative;
}

#members.list a {
    display: inline-block;
    margin-top: .8rem;
    background: var(--accent-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: .7rem 1.3rem;
    border-radius: 6px;
    font-weight: 600;
    transition: .3s;
}

#members.list a:hover {
    background: var(--primary-color);
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#members.grid section {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

#members.grid img {
    width: 100%;
    max-width: 180px;
    height: 120px;
    object-fit: cover;
    margin: 0 auto 1rem;
    display: block;
}

#members h2 {
    color: var(--primary-color);
    margin-bottom: .5rem;
}

#members p {
    margin: .3rem 0;
}

#members a {
    display: inline-block;
    margin-top: .8rem;
    text-decoration: none;
    background: var(--accent-color);
    color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 5px;
}

#members a:hover {
    background: var(--primary-color);
}

.display {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

 button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

 button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
}

 button.active {
    background-color: var(--accent-color);
     transform: scale(0.97);
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}
.hamburger.show::before {
  content: "\00D7";
}

.social{
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.social a{
  color: var(--secondary-color);
   display: flex;
   justify-content: center;
   align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--text-color);
  border-radius: 22px;
 
}

.social img{
  width: 22px;
  height: 22px;
}

/* HOME PAGE CSS DESIGN */

.hero {
    position: relative;
    min-height: 550px;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;

     background-image: url("../images/owerri-chamber.webp"); 
    background-size: cover;
    background-position: center;

    border-radius: 15px;
    overflow: hidden;

    display: flex;
     align-items: center; 

}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            90deg,
            rgba(3,25,55,0.95) 0%,
            rgba(3,25,55,0.75) 35%,
            rgba(3,25,55,0.15) 70%
        );
}

.hero-content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 3rem 4rem;
    color:var(--secondary-color);
}

.hero h1 {
  display: block;
  font-size: clamp(2.5rem,5vw,4.5rem); 
   line-height: 1.1;
  font-weight: 800;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  background: none;
  
}

.hero p {
  font-size: 1.3rem;
  max-width: 450px;
  line-height: 1.5;
  margin-bottom: 2rem;
  color:var(--secondary-color);
}

.cta-button {
  display:inline-flex;
  align-items:center;
  gap:10px;
  background:var(--accent-color);
  color:var(--text-color);
  padding:15px 35px;
  border-radius:50px;
  text-decoration:none;
  font-size:1.1rem;
  font-weight:700;
  transition:.3s;
}

.cta-button:hover {
  background:var(--secondary-color);
  transform:translateY(-3px);
  color: var(--primary-color);
}


/* .events,
.weather{
    background:var(--secondary-color);
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
} */

 .events h2,
.weather h2{
    margin-bottom:15px;
    border-bottom:3px solid var(--primary-color);
    padding-bottom:8px;
} 

#forecast p{
    margin:.5rem 0;
}

.spotlights h2{
    margin-bottom:20px;
}

#spotlights{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

#spotlights section{
    background:var(--secondary-color);
    border-radius:12px;
    text-align:center;
    padding:20px;
    box-shadow:0 4px 15px rgba(0,0,0,.12);
    transition:.3s;
}

#spotlights section:hover{
    transform:translateY(-8px);
}

#spotlights img{
    width:140px;
    height:140px;
    object-fit:contain;
    margin:15px auto;
}

#spotlights h3{
    margin-bottom:10px;
}

#spotlights p{
    margin:6px 0;
}

#spotlights a{
    color:var(--primary-color);
    text-decoration:none;
    font-weight:bold;
}

#spotlights a:hover{
    text-decoration:underline;
}

#temperature{
    font-size:2rem;
    color:var(--accent-color);
    font-weight:bold;
}

#description{
    text-transform:capitalize;
}


.social a:hover{
  background: var(--secondary-color);
}

 footer{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 10px;
  text-align: center;
} 




