@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display:ital@1&family=Roboto:wght@300&family=Whisper&display=swap');

:root {
  /* My coolor palette*/
  --primary-color: #c2e812;
  --secondary-color: #fe654f;
  --accent1-color: #1d8a99;
  --accent2-color: #0bc9cd;

  /* my fonts */
  --heading-font: "noto serif";
  --paragraph-font: 'noto';

  
  --headline-color-on-white:steelblue ;
  --headline-color-on-color:#1d8a99 ;
  --paragraph-color-on-white: #0bc9cd;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #0bc9cd;
  --nav-link-color: #1d8a99;
  --nav-background-color: steelblue;
  --nav-hover-link-color: #c2e812;
  --nav-hover-background-color: #fe654f;
  --nav-color-on-color: white;

}





body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
  
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

header>h1,
header>h2 {
  color: var(--headline-color-on-color);
  color: white;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em; 
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
  color: white;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}